/* ======================================
   SXML 标签基础样式
   ====================================== */
view {
  display: block;
}

text {
  display: inline;
}

image {
  display: inline-block;
  max-width: 100%;
  border: 0;
}

button {
  display: inline-block;
  cursor: pointer;
}

input {
  display: inline-block;
}

scroll-view {
  display: block;
  overflow: auto;
}

swiper {
  display: block;
  position: relative;
}

/* ======================================
   原有样式
   ====================================== */
.textA:before {
  content: '<svg class="icon_text" viewBox="0 0 87 27"><path d="M72.403137,19.246865L72.403137,24.143996 82.70668,24.143996 82.70668,19.246865z M69.109749,16.715846L86.000061,16.715846 86.000061,26.675015 69.109749,26.675015z M69.109749,11.901623L86.000061,11.901623 86.000061,14.12196 69.109749,14.12196z M69.109749,7.3461511L86.000061,7.3461511 86.000061,9.566488 69.109749,9.566488z M30.796219,4.8397334L34.005829,4.8397334C33.668022,8.4276206,35.694855,17.652449,35.694855,17.652451L32.992409,17.595052C31.021872,12.982802,30.796219,4.8397329,30.796219,4.8397334z M52.754242,4.6119587L56.244289,4.6119587C56.244289,4.6119592,55.625427,14.12196,53.654655,17.481164L50.726788,17.481164C50.726788,17.481164,53.260784,10.477583,52.754242,4.6119587z M75.161438,0.056488037L79.49707,0.056488037 79.49707,2.3351338 86.900879,2.3351338 86.900879,4.5554707 68.186417,4.5554707 68.186417,2.3351338 75.161438,2.3351338z M64.520729,0.056488037L67.2789,0.056488037C67.357948,2.3945978,66.729027,4.3544896,65.784111,5.9639633L65.637436,6.2063739 65.647011,6.2063739 65.647011,26.814414 62.494152,26.814414 62.494152,9.6880281 62.393391,9.7689245C60.550205,11.225605,58.890892,11.901623,58.890892,11.901623L58.890892,8.7122276C64.745926,5.1817834,64.520729,0.056487799,64.520729,0.056488037z M38.00275,0.056488037L41.155609,0.056488037 41.155609,24.454678 45.659691,24.454678 45.659691,0.056488037 48.81255,0.056488037 48.81255,24.454678 56.498318,24.454678 56.498318,26.675015 29.98008,26.675015 29.98008,24.454678 38.00275,24.454678z M4.7851419,0.056488037L7.9379926,0.056488037 7.9379926,4.6119587 10.303545,4.6119587 10.303545,6.8322961 7.9379926,6.8322961 7.9379926,14.63988 8.0169668,14.62102C9.3928576,14.290007,10.303536,14.008071,10.303536,14.008071L10.246789,16.228865C9.5711479,16.59188,8.802474,16.910868,7.9993997,17.189576L7.9379926,17.210244 7.9379926,26.675015 4.7851419,26.675015 4.7851419,18.088692 4.7427025,18.098477C2.371104,18.632365,0.39365366,18.848716,0.39365438,18.848716L0.39365438,15.659886C1.7661358,15.677539,3.2485809,15.522849,4.6382251,15.301804L4.7851419,15.2776 4.7851419,6.8322961 2.6179912,6.8322961 2.5970297,6.9137123C1.7155048,10.215776,0,11.274789,0,11.27479L0,9.51C0.90078914,7.2890747,1.1259795,1.936075,1.1259804,1.9360759L3.096,1.9360759C3.1240959,2.8471692,3.0967908,3.6764071,3.0275006,4.4300177L3.0092945,4.6119587 4.7851419,4.6119587z M13.089646,0L15.989494,0C15.905923,1.0454447,15.711694,2.0067761,15.443433,2.8847558L15.433979,2.9145892 26.292135,2.9145892 26.292135,5.1349266 26.292135,24.211415 26.292135,24.253323 26.291086,24.253323 26.288967,24.338189C26.223728,25.639882,25.159548,26.675011,23.856329,26.675011L23.81489,26.673953 23.81489,26.675015 20.071997,26.675015 20.071997,24.707965 21.420517,24.707965 21.420517,24.706858 21.463757,24.707965C22.389124,24.707965 23.139277,23.949044 23.139277,23.012872 23.139277,22.954362 23.136345,22.896544 23.130627,22.839558L23.12991,22.833842 23.139277,22.833842 23.139277,21.85648 23.139277,5.1349266 21.573256,5.1349266 21.5776,5.3514745C21.785166,20.706538,15.539554,26.279599,15.539553,26.279599L15.496755,22.49264C19.445442,16.406813,19.185482,7.1144016,19.081379,5.1544912L19.080299,5.1349266 16.450312,5.1349266 16.454655,5.3514717C16.662249,20.706538,10.415712,26.279599,10.415712,26.279599L10.37291,22.492636C13.837179,17.154195,14.062559,9.3483884,13.995393,6.1887996L13.992492,6.0663488 13.96673,6.1084411C12.354383,8.6765134,10.387315,9.9363925,10.387316,9.9363916L10.387316,7.3168304C13.230631,3.9573514,13.089648,-2.3841858E-07,13.089646,0z"></path></svg> ';
}
.winform {
  transition: transform 0.6s;
  box-shadow: 0 0 15px 0 rgb(5 11 45 / 0.05);
  position: fixed;
  z-index: 950;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  background-color: #fff;
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
  opacity: 1;
  color: #888;
  min-width: 300px;
  min-height: 100px;
  /*max-width: 800px;
    max-height: 600px;*/
}
.winform.move {
  transform: translate(-50%, -50%);
}
.contentA {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
.wintop {
  min-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wincontent {
  height: 100%;
  margin: 0 5px 5px 5px;
  background: #f2f2f2;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.wintitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  font-size: 13px;
  color: #333;
}
.svg-close {
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  fill: #000;
}
.svg-close:hover {
  background: #f45454;
  fill: #fff;
}
.svg-close:active {
  background: #a83131;
  fill: #fff;
}
.svg-icon {
  width: 12px;
  height: 12px;
}
.svg-icon2 {
  width: 18px;
  height: 18px;
  margin-top: 4px;
  margin-right: 5px;
}
.nbaMask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.nbaMaskTransparent {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.nbaDialog {
  transition: transform 0.6s;
  box-shadow: 0 0 15px 0 rgb(5 11 45 / 0.2);
  position: fixed;
  z-index: 5000;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  /* 初始位置：位于屏幕中央线以下，待动画上滑进入 */
  -webkit-transform: translate(-50%, 80%);
  transform: translate(-50%, 80%);
  will-change: transform;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  opacity: 1;
  color: white;
}
.nbaDialog.move {
  transform: translate(-50%, -50%);
}
.nbaDialog .nbaDialogHd {
  padding: 0.2rem 0.27rem 0.08rem 0.27rem;
}
.nbaDialog .nbaDialogHd .nbaDialogTitle {
  font-size: 17px;
  font-weight: 400;
}
.nbaDialog .nbaDialogBd {
  padding: 2rem 1rem;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
  word-break: break-all;
  color: #000000;
}
.nbaDialog .nbaDialogFt {
  color: #004098;
  position: relative;
  line-height: 48px;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.nbaDialog .nbaDialogFt:hover {
  color: #004098;
  background: rgba(50, 100, 230, 0.05);
}
.nbaDialog .nbaDialogFt:active {
  color: #004098;
  background: rgba(50, 100, 230, 0.1);
}
.nbaDialog .nbaDialogFt:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.nbaDialog .nbaDialogBtn {
  cursor: pointer;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #004098;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  margin-bottom: 0;
}
.nbaDialog .nbaDialogBtn:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.nbaDialog a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.excelpanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.progressPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.progressBar {
  display: flex;
  align-items: center;
  width: 90%;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  margin: 5px 0 15px 0;
  border: 1px solid #eee;
}
.textColor {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.barContent {
  width: 0px;
  height: 6px;
  background: #5ab866;
  border-radius: 3px;
  margin: 0 1px;
}
.selectFile {
  width: 120px;
}
.container1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
}
.TX-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 0 15px 0 #ccc;
}
.demo {
  margin-top: -2px;
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border-color: #ffffff transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  border-width: 12px;
}
.TX-win {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input-card.subTextPanel {
  border-radius: 2px;
  z-index: 999;
  width: auto;
  height: 150px;
  right: 8px;
  left: 8px;
  bottom: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-card.topTextPanel {
  border-radius: 2px;
  z-index: 998;
  width: max-content;
  height: 40px;
  left: 8px;
  top: 43px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  align-items: center;
}
.qrcodestyle {
  width: 70px;
  height: 70px;
  fill: #07c160;
}
.wd {
  font-size: 14px;
  font-weight: 500;
  color: #07c160;
}
.rwd {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  border-left: 1px solid #eee;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  font-size: 13px;
  font-weight: 400;
  color: #666;
  justify-content: center;
}
.moreinfo {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  padding: 1px 0 0 10px;
  transform: scale(0.9);
}
.greenline {
  height: 1px;
  width: 30px;
  border-top: 1px solid #00d13e;
  margin: 0 5px;
}
.am_click {
  display: flex;
  background: rgb(0 0 0 / 5%);
  padding: 4px;
  border-radius: 17px;
  cursor: pointer;
  font-size: 12px;
  margin: 3px 0;
}

.am_click:hover {
  background: #3fa966c4;
  color: #fff;
}

.am_click:active {
  opacity: 0.6;
}

.img_click {
  margin-right: 5px;
  background: #fff;
  width: 50px;
  height: 37px;
}
.img_click:hover {
  border: 1px dashed #f45454;
}
@keyframes ball {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-258.83px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animation_img {
  animation-name: ball;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
.paragraph {
  margin-bottom: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.paragraph:hover {
  border: 1px dotted #ff0000;
  background: rgb(255 0 0 / 0.06);
  color: #000;
}
.mTitle {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}
.paragraph_selection {
  border: 1px dotted #ff0000;
  background: rgb(255 0 0 / 0.06);
  color: #000;
}
.del_red {
  position: absolute;
  cursor: pointer;
  fill: #fff;
  background: #ff352bbd;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: -30px;
}
.del_red:hover {
  background: #ff352b;
  width: 27px;
  height: 27px;
}
.p_del {
  width: 100%;
  justify-content: right;
}
.add_img_click {
  margin-right: 5px;
  background: #fff;
  width: 50px;
  height: 37px;
  border: 1px dashed #ddd;
  cursor: pointer;
}

.inputA {
  border: 1px solid #ccc !important;
  color: #333 !important;
  border-radius: 2px !important;
  font-family: inherit !important;
  font-size: 12px !important;
  min-height: 26px !important;
  padding: 0 10px !important;
  background: #fff !important;
}

.inputA:focus {
  background-color: #fff;
  color: #000000;
  border: 1px solid rgba(39, 169, 56, 0.8);
}

.inputA::-webkit-input-placeholder {
  /* Edge */
  color: #aaa;
  font-weight: 400;
}

.inputA:-ms-input-placeholder {
  /* Internet Explorer */
  color: #aaa;
  font-weight: 400;
}

.inputA::placeholder {
  color: #aaa;
  font-weight: 400;
}
.inputA:disabled {
  color: #888 !important;
  background: #f5f5f5 !important;
}

.handleDiscounts,
.handleDiscounts2 {
  border: 1px solid #ccc;
  color: #777;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 5px;
}
.handleDiscounts:first-child {
  margin-left: 0;
}
.handleDiscounts:last-child {
  margin-right: 0;
}
.handleDiscounts:active,
.handleDiscounts2:active {
  background-color: #e7e7e7;
}
.handleDiscounts.active {
  background-color: #e7e7e7;
}